extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
  -
    imageStore = [
      "1",
      "2",
      "special",
    ];

  .gmap.js-map
  .sidebar.js-sidebar: .sidebar__inner
    a.sidear__logo(href="" title="HIWAI")
      span HIWAI
      img(src="img/logo.png")
    .sidebar__outline.js-outline-modal 免責事項
    .sidebar__radio-container
      each id, i in imageStore
        .sidebar__radio-box
          input.sidebar__radio.js-ossan-select(type="radio" name="ossan" id=id value=id checked=i===0)
          label.sidebar__label(for=id)
            img.sidebar__label-img(src=`img/ossan${id}-1.gif`)
  button.menu-btn.js-sidebar-toggle
